.header {
    width: 100vw;
    height: 21vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $mainColor;
    color: $titleColor;
}
.banner {
    font-size: 3em;
    position: relative;
}
.title {
    width: 100%;
    padding: 0.5em;
    text-align: center;
}
.subtitle {
    font-size: 1.5em;   
    padding-bottom: 2em;
}